body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  width: 960px;
  margin: auto;
}

header {
  display: inline-block;
  width: 960px;
  height: 64px;
  background-color: white;
  position: fixed;
  z-index: 1;

}

a {
  text-decoration: none;
  text-align: center;
  color: midnightblue;
}

a:hover {
  color: gray;
}
#colmar {
  font-size: 30px;
}

#academy {
  font-size: 20px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 64px;
  width: 100%;

}


nav ul {
  display: flex;
  margin-right: 24px;

}

nav li {
  display: inline;
  padding: 16px;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;

}


.banner {
  display: inline-block;
  background-color: rgba(193	205	205);
  position: relative;
  justify-content: space-around;
  padding: 32px 24px;
  max-width: 100%;
  max-height: 100%;
  margin-top: 64px;
}

.banner img {
  max-width: 60%;
  height: auto;
  float: left;

}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 24px;
  margin-top: 50px;
}

.learn h1 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}

.learn h2 {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 50px;
}

.button {
  display: flex;
  justify-content: space-around;
  background-color: midnightblue;
  padding: 8px 20px 8px 20px;
}

.button h3 {
  color: white;
}

.button:hover {
  background-color: gray;
}
.info {
  display: flex;
  position: relative;
  padding: 32px 24px;
  border: 1px solid lightgray;

}

.infoleft {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;

}
.info-description {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: left;
}

.info-description h1 {
  font-size: 40px;
  font-weight: 700;
}

.info-description h3 {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 300;
}

.infoleft img {
  display: flex;
  max-height: 70%;
  max-width: 100%;
}

.sideinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 24px;
  width: 40%;
  border: 1px solid gray;
  height: 100%;
}

.sideinfo-block {
  border-bottom: .5px solid gray
}
.sideinfo-block,
.guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.sideinfo-block img,
.guest img {
  width: 35%;
  height: 35%;
}

.sideinfo-description {
  width: 65%;
  padding-left: 20px;
}

.sideinfo-description h3 {
  padding-bottom: 10px;
}
.guest {
  background-color: rgba(193	205	205);

}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(193	205	205);
  position: relative;
  padding: 32px 24px;
  max-width: 100%;

}

.courses h1 {
  text-align: center;
  padding-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
}

.courses-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 32px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.courses-grid div {
  background-color: white;
  width: 100%;
  height: auto;
  border: .5px solid black;
}
.courses-grid img {
  width: 100%;
  height: auto;
}

.courses h2 {
  font-size: 18px;
  font-weight: bold;
}
.courses h2,
.courses h3 {
  padding-bottom: 16px;
  padding-top: 10px;
  padding-left: 16px;
}



.thesis {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  padding: 32px 24px
}

.thesis-container {
  border: 1px solid lightgray;
  border-bottom: none;
}

.thesis-title {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  font-size: 40px;
  font-weight: 700;
}
.thesis-video {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

.thesis-video video {
  width: 100%;
  padding-bottom: 24px;
}

.thesis h2 {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.thesis h3 {
  font-size: 18px;
  font-weight: 200;
}

.thesis .sideinfo {
  display: flex;
  width: 40%;
  }

.thesis .sideinfo-description {
  padding-left: 8px;

  }

footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;
  border-top: 1px solid lightgray;
  margin-top: 20px;

}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.terms {
  display: inline-block;
  justify-content: space-between;
  margin-right: 50px;
  word-spacing: 10px;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  nav {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content:
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    max-width: 480px;
  }
  .logo {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

  }
  .banner img {
    width: 100%;
  }
  .learn h1 {
    display: flex;
    font-size: 24px;
  }
  .learn h2 {
    text-align: center;
    display: flex;
    font-size: 18px;
    max-width: 480px;

  }

}



@media only screen and (min-width: 480px) and (max-width: 1080px) {


@media only screen and (min-width: 1080px) and (max-width: 1600px) {


@media only screen and (min-width: 1600px) {
